@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Raleway:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: grid;
  place-items: center;
}
.main h3 {
  margin: 30px 0px 50px 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  color: #333333;
}
nav ul {
  display: flex;
  list-style-type: none;
  border-bottom: 1px solid grey;
}

nav ul li {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  padding: 20px 30px 15px 20px;
  font-weight: 600;
  font-size: 14px;
  color: #333333;
  cursor: pointer;
}
.active {
  border-bottom: 2px solid blue;
}
.input {
  margin: 20px;
}
.input input {
  border-radius: 12px;
  padding: 10px 20px;
  border: 1px solid #bdbdbd;
  outline: none;
}
.input button {
  margin-left: 15px;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  background: #2f80ed;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  padding: 10px 20px;
  outline: none;
}
.list input {
  margin: 10px 20px;
  padding: 50px;
}

.list {
  width: 300px;
  padding: 8px 0;
}

input[type='text'] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

input[type='checkbox'],
label {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.delBtn {
  float: right;
  border: none;
  width: 30%;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

footer p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  width: 300px;
  color: #a9a9a9;
  padding: 20px 10px;
  text-align: center;
}
